<div class="about-div">
  <div class="about-pp-div" data-aos="zoom-in">
    <div class="rounded-container">
      <img
        src="assets/profile_photo.png"
        alt="Your Image"
        class="rounded-image"
      />
    </div>
  </div>
  <div class="about-content-div">
    <div data-aos="fade-left" class="title-text glowing-text">About Me</div>
    <br />
    <div style="font-size: 1.5em; font-weight: bold" data-aos="fade-right">
      Full stack Developer!
    </div>
    <br />
    <div style="font-size: 1em" data-aos="fade-up">
      I am a full stack developer {{expPlaceHolder}}. Beyond my professional journey, I have a hands-on
      approach to technology. I don't just create applications, I build
      solutions that simplify my daily life. This personal connection fuels my
      passion for developing applications that genuinely enhance people's
      experiences. I thrive in challenging environments that push me to learn
      new technologies continually. As a Full Stack Developer, I bring a holistic
      approach to application development, excelling in both frontend and
      backend realms. My work is anchored in a problem-solving mindset, a trait
      that finds its roots in my deep interest in mathematics. This unique
      perspective enriches my approach to addressing complex challenges,
      crafting elegant solutions that stand out.
    </div>
  </div>
</div>
