.about-pp-div{
    margin-left: 10%;
    margin-top:5%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  .about-content-div{
    margin-right: 10%;
    margin-top:5%;
    flex: 1;
  }

  .about-div{
    display: flex;
  }