  <div class="about-div">
    <div class="about-pp-div" data-aos="zoom-in">
        <div class="rounded-container">
          <img
            src="assets/profile_photo.png"
            alt="Your Image"
            class="rounded-image"
          />
        </div>
      </div>
      <div class="about-content-div">
        <div  data-aos="fade-left" class="title-text glowing-text">
          About Me
        </div>
        <br />
        <div style="font-size: 1.5em; font-weight: bold" data-aos="fade-right">
          Full stack Developer!
        </div>
        <br />
        <div style="font-size: 1em" data-aos="fade-up">
          A passionate full-stack developer with a comprehensive skill set
          across both front-end and back-end technologies. Proficient in
          crafting engaging user experiences through the implementation of
          intuitive and aesthetically pleasing interfaces using HTML, CSS, and
          JavaScript. On the back-end, adept at designing and optimizing
          databases, implementing server-side logic, and ensuring seamless data
          flow. Experienced in working with a variety of frameworks and
          technologies, demonstrating a commitment to staying abreast of the
          latest industry trends. Possessing a problem-solving mindset, I am
          dedicated to delivering robust and scalable solutions that contribute
          to the success of web-based projects. My enthusiasm for learning and
          adaptability to evolving technologies reflects my commitment to
          continuous improvement in the dynamic field of full-stack development.
        </div>
      </div>
  </div>  
    