.container {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  width: 6%;
}

.middle {
  width: 88%;
}

.left {
  order: 1;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.right {
  order: 3;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.middle {
  order: 2;
}

.icon-with-shadow {
  font-size: 9rem;
  cursor: pointer;
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}

.icon-with-shadow:hover {
  color: var(--app-primary-color);
  font-size: 10rem;
  text-shadow: 0 0 30px var(--app-primary-color),
    0 0 100px var(--app-primary-color), 0 0 200px var(--app-primary-color);
}

.cont-div {
  margin-left: 10%;
  margin-right: 10%;
}
