<div>
  <a
    href="https://www.facebook.com/diwakar.danger"
    class="icon-button facebook"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-facebook"></i><span></span
  ></a>
  <a
    href="https://www.instagram.com/thiru_shady/"
    class="icon-button instagram"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-instagram"></i><span></span
  ></a>
  <a
    href="https://twitter.com/ThiruShady"
    class="icon-button twitter"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-twitter"></i><span></span
  ></a>
  <a
    href="https://www.linkedin.com/in/thirumoorthy-n/"
    class="icon-button linkedin"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-linkedin"></i><span></span
  ></a>
  <a
    href="https://github.com/ThiruDev50/"
    class="icon-button github"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-github"></i><span></span
  ></a>
  <a
    href="mailto:thirudev50@gmail.com"
    class="icon-button mail"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fas fa-envelope"></i><span></span
  ></a>
</div>
