<div>
  <a
    href="https://www.facebook.com/vikram.paul.mon.007"
    class="icon-button facebook"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-facebook"></i><span></span
  ></a>
  <a
    href="https://www.instagram.com/worldofvicky007/"
    class="icon-button instagram"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-instagram"></i><span></span
  ></a>
  <a
    href="https://twitter.com/worldofvicky007"
    class="icon-button twitter"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-twitter"></i><span></span
  ></a>
  <a
    href="https://www.linkedin.com/in/vikram-paul-b27a1b11b/"
    class="icon-button linkedin"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-linkedin"></i><span></span
  ></a>
  <a
    href="https://github.com/VikramPaul007"
    class="icon-button github"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-github"></i><span></span
  ></a>
  <a
    href="https://github.com/VikramPaul007"
    class="icon-button mail"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fas fa-envelope"></i><span></span
  ></a>
</div>
