.home-div{
    display: flex;
  }
  
  .intro-div{
    flex: 1;
    margin-top: 10%;
    margin-left: 10%;
  }
  .intro-pp-div{
    margin-right: 10%;
    margin-top:5%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .full-stack{
    color: #00aced;
    font-weight: bold;
  }
