<div class="home-div">
  <div class="intro-div">
    <div style="font-size: 2.5em" data-aos="fade-up">Hello, It's Me</div>
    <div style="font-size: 4em" data-aos="fade-left">Thiru</div>
    <div style="font-size: 2em" data-aos="fade-right">
      I am a <span class="full-stack"> </span>
    </div>
    <br />
    <div style="font-size: 1em" data-aos="fade-down">
      As a passionate and results-driven Full Stack Developer, I specialize in
      crafting innovative and robust web applications. My journey in the world
      of technology began with a keen interest in both frontend and backend
      development, and I've cultivated a diverse skill set to excel in the
      ever-evolving landscape of web development.
    </div>
    <br />
    <br />
    <app-social></app-social>
  </div>
  <div class="intro-pp-div" data-aos="zoom-in">
    <div class="rounded-container">
      <img
        src="assets/profile_photo.png"
        alt="Your Image"
        class="rounded-image"
      />
    </div>
  </div>
</div>
