  <div class="tilting-card-wrapper">
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="mouse-position-tracker"></div>
    <div class="tilting-card-body">
        {{currentQuote.length>0 ? currentQuote :defaultQuote}}
    </div>
  </div>

