.icon-with-shadow {
  cursor: pointer;
}

.icon-with-shadow:hover {
  color: var(--app-primary-color);
  text-shadow: 0 0 30pxvar (--app-primary-color),
    0 0 100px var(--app-primary-color), 0 0 200px var(--app-primary-color);
}

.quote-info {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
