<div>
  <nav class="nav-bar" appHideOnScroll>
    <div class="animated-div">
      <div class="space-holder"></div>
      <button class="custom-btn btn portfolio-btn animated-btn">
        Portfolio
      </button>
    </div>
    <div class="animated-div">
      <button
        class="custom-btn btn animated-btn"
        (click)="scrollToComponent('home')"
      >
        Home
      </button>
      <button
        class="custom-btn btn animated-btn"
        (click)="scrollToComponent('about')"
      >
        About
      </button>
      <button
        class="custom-btn btn animated-btn"
        (click)="scrollToComponent('services')"
      >
        Services
      </button>
      <button
        class="custom-btn btn animated-btn"
        (click)="scrollToComponent('skills')"
      >
        Skills
      </button>
      <button
        class="custom-btn btn animated-btn"
        (click)="scrollToComponent('project')"
      >
        Project
      </button>
      <button
        class="custom-btn btn animated-btn"
        (click)="scrollToComponent('contact')"
      >
        Contact
      </button>
    </div>
  </nav>
  <div class="outer">
    <div #home class="nav-bar-height">
      <app-home></app-home>
    </div>
    <div #about class="nav-bar-height">
      <app-about></app-about>
    </div>
    <div #skills class="nav-bar-height">
      <app-skills></app-skills>
    </div>
    
    <div #project class="nav-bar-height"><app-contributions></app-contributions></div>
    <div class="quotes-comp">
      <app-quote></app-quote>
    </div>
    <!-- <div #services class="nav-bar-height">services</div>
    <div #contact  class="nav-bar-height">contact</div> -->
    <div >
      <br>
      <br>
      <br>
      <br>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<!-- <div class="wrap">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
 </div>
 
</div> -->
