.cards {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 900px;
  min-height: 450px;
}

.card {
  position: relative;
  min-width: 60px;
  overflow: hidden;
  margin: 2.1%;
  background-size: auto 150%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  border-radius: 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .card {
    height: 380px;
  }
  .cards {
    max-width: 900px;
    margin-left: 7%;
  }
}

@media only screen and (min-width: 1500px) {
  .card {
    height: 490px;
  }
  .cards {
    max-width: 1100px;
    margin-left: 15%;
  }
}
.card.active {
  flex-grow: 10000;
  background-size: auto 100%;
}
.card-container:not(.active) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.card-container {
  height: 100%;
  width: 100%;
}
.card-container.active {
  background: transparent;
}
.card-container:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.card.active:hover {
  transform: scale(1.1);
}

.card-container.active:not(:hover) .project-details {
  display: none;
}
.project-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  white-space: nowrap;
}

.project-details {
  height: 100%;
  color: white;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.project-title {
  font-weight: bold;
  font-size: 30px;
  color: white;
  animation: zoomFadeFromAbove 0.5s ease-in-out forwards;
}

.project-tech-stack {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  animation: zoomFadeFromLeft 0.5s ease-in-out forwards;
}

.project-tech-stack:hover {
  text-shadow: 0 0 30px var(--app-primary-color),
    0 0 50px var(--app-primary-color), 0 0 100px var(--app-primary-color);
}
.project-desc {
  white-space: pre-line;
  font-size: 15px;
  animation: zoomFadeFromBelow 0.5s ease-in-out forwards;
}
@keyframes zoomFadeFromAbove {
  0% {
    transform: translateY(-70%) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes zoomFadeFromBelow {
  0% {
    transform: translateY(70%) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes zoomFadeFromLeft {
  0% {
    transform: translateX(50%) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
